{% load static %}
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Web Speech APIU</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'web-speech.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body onload="checkCookie()">
<main>
    <div class="container mt-3">
        <h3 class="text-center">Web Speech API Demo</h3>
        <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; preferences</span>
        <div id="info"></div>
        <div id="div1">How can I help you?</div>
        <div class="float-right">
            <button id="start_button">
                <img id="start_img" src="../static/images/mic.gif" alt="Start"></button>
        </div>
        <div id="results">
            <span id="final_span" class="final"></span>
            <span id="interim_span" class="interim"></span>
            <p>
        </div>
        <div class="col-12 col-md-4 col-lg-6 mt-3 mt-md-0 p-0 m-0">
            <div class="float-right">
                <button id="ajax_button" class="btn btn-primary ">POST</button>
            </div>
        </div>
    </div>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <h2>Preferences</h2>
            <form>
                <label for="nme">Nickname:</label><br>
                <input type="text" value="" id="usrname" name='usrname'>
                <br>
                <label for="lcation">Location:</label><br>
                <input type="text" value="" id="lcation" name='lcation'>
                <br>
                <label for="bndesliga">League:</label><br>
                <input list="bundesliga" id="bndesliga" name="bndesliga" onchange="clubs(document.getElementsByName('bndesliga'))">
                <datalist id="bundesliga">
                    <option value="1.Bundesliga">
                    <option value="2.Bundesliga">
                </datalist>
                <br>
                <label for="clb">Club:</label><br>
                <input list="club" id="clb" name="clb" onchange="resetList(document.getElementsByName('clb'))">
                <datalist id="club">
                </datalist>
                <br>
                <label for="nws">News Portal:</label><br>
                <input list="news" id="nws" name="nws" onchange="resetList(document.getElementsByName('nws'))">
                <datalist id="news">
                    <option value="New York Times"></option>
                    <option value="The Economist"></option>
                    <option value="Deutsche Welle"></option>
                </datalist>
                <br>
                <label for="hlth">Health Label:</label><br>
                <input list="health" id="hlth" name="hlth" onchange="resetList(document.getElementsByName('hlth'))">
                <datalist id="health">
                    <option value="Peanut-Free"></option>
                    <option value="Tree-Nut-Free"></option>
                    <option value="Alcohol-Free"></option>
                </datalist>
                <br>
                <label for="ctions">Cautions:</label><br>
                <input list="cautions" id="ctions" name="ctions" onchange="resetList(document.getElementsByName('ctions'))">
                <datalist id="cautions">
                    <option value="Gluten"></option>
                    <option value="Wheat"></option>
                    <option value="Sulfites"></option>
                </datalist>
                <br>
                <br>
                <input type="button" value="Go!" id="submit"
                       onclick="putCookie(document.getElementsByTagName('form'));">
            </form>
            <div id="value"></div>
        </div>
    </div>

</main>
<script src="{% static 'js/web-speech-api.js' %}"></script>
</body>
</html>

